<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body bgcolor="pink">

	
	<h1>TITLE:<%= res.title%></h1>
	<h1>BUDGET:<%= res.budget%></h1>
	<h1>RELEASE DATE:<%= res.release_date%></h1>
	<h1>POPULARITY:<%= res.popularity%></h1>
	<h1>OVERVIEW:<%= res.overview%></h1>
	
</body
</html>